
<div class="col-sm-offset-3 auth_box">
  <div class="col-sm-7">

 <%= render partial: 'shared/alerts' %>

    <div class="well">
     
      <h2 class="font_lg text-center">Log in:</h2>

      <!-- adding no break site name breaks layout in certain viewports -->

      <!-- <h2 class="font_lg text-center">Log into <span class="nobr">Me & You</span></h2><br> -->
     
      <%= form_tag login_path do %>
        <div class="form-group">
          <%= label_tag :email, nil, class:"control-label" %>
          <%= email_field :email, params[:email], autofocus: true, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= label_tag :password, nil, class:"control-label" %>
          <%= password_field_tag :password, params[:password], class:"form-control" %>
        </div>

        <%= submit_tag "Login", id:"submit-user", class:"btn btn-block btn-primary" %>
      <% end %>
      <br>
      <%= link_to "Don't have an account? Sign up here", signup_path %>
      <br>
  <%= link_to "Forgot your password?", new_reset_path%>

    </div>
  </div>
</div>
