<div class="container">
	


<!-- Row One User Kudos -->

<div class="row pad">
  

<% if @user.kudos.length > 0 %>

<p class="font_lg"><u>My Kudos:</u></p>

<% @user.kudos.each do |kudo|%>

<div class="col-md-6">
 <div class="kudo-box animated fadeInUpBig">
 	
<div class="kudo-box-points">
<p><strong><u>Points:</u></strong></p>
<h1 class="pad-md"><%= kudo.points %></h1>	
</div>
<% if kudo.date %>
<p><strong>Date:</strong> <%= kudo.date.strftime("%m/%d/%Y") %></p>
<% end %>
<p class="text-center font_md pad-md"><%= kudo.description %></p>

 </div>
</div>
<% end %>
<% end %>
</div>  



<!-- Row Two User Coupons -->

<div class="row">

<% if @user_created_coupons.length > 0 %>

<p class="font_lg"><u>My Coupons:</u></p>

<% @user_created_coupons.each do |coupon|%>

<div class="col-md-6">
<div id="coupon" class="design_<%= coupon.design_id %> img-rounded animated fadeInUpBig margin_around">
	
	<p class="coup-head">PRICE: <strong><%= coupon.price %></strong> points</p>

	<p class="coup-text"><%= coupon.description %></p>


</div>
</div>

<% end %>
<% end %>
</div> 


  
<!-- Row Three Match Kudos -->

<div class="row">

<% if @match_user.kudos.length > 0 %>

<p class="font_lg"><u><%= @match_user.name%>'s Kudos:</u></p>


<% @match_user.kudos.each do |kudo|%>

<div class="col-md-6">
 <div class="kudo-box animated fadeInUpBig">
 	
<div class="kudo-box-points">
<p><strong><u>Points:</u></strong></p>
<h1 class="pad-md"><%= kudo.points %></h1>	
</div>
<% if kudo.date %>
<p><strong>Date:</strong> <%= kudo.date.strftime("%m/%d/%Y") %></p>
<% end %>
<p class="text-center font_md pad-md"><%= kudo.description %></p>


 </div>
</div>
<% end %>
<% end %>
</div>



  
<!-- Row Four Match Coupons -->

<div class="row">

<% if @match_created_coupons.length > 0 %>

<p class="font_lg"><u><%= @match_user.name%>'s Coupons:</u></p>

<% @match_created_coupons.each do |coupon|%>

<div class="col-md-6">
<div id="coupon" class="design_<%= coupon.design_id %> img-rounded animated fadeInUpBig margin_around">
	
	<p class="coup-head">PRICE: <strong><%= coupon.price %></strong> points</p>

	<p class="coup-text"><%= coupon.description %></p>

	<!-- Only have the option to buy if the user has enough points -->
	<% if @user.score > coupon.price %>

	<p><%= link_to "", buy_coupon_path(coupon), { :style=>'color:#FFFFFF;', :class=>'fa fa-cart-plus fa-3x' } %></p>
    
    <% end %>

</div>
</div>

<% end %>
<% end %>
</div>




</div> <!-- end -->
