
<div class="all-user-box margin_top container">
<%= render partial: 'shared/alerts' %>
<h2 class="white text-center font_lg"><u>Availible Matches</u></h2>
		
	<% if @all_users %>

		<% @all_users.each do |user|%>

			<% if user.match == nil && user.name != @current_user.name %>

				<div class="col-md-6">

				<h4 class="white text-left">

				<% if user.picture %>
				<%= image_tag("#{user.picture}", id:"profile-img-admin", class:"img-rounded") %>
				<% end %>

				<%= user.name%> / <%= link_to "Match", match_path(user.id), method: :post %></h4>

				</div>
		    <% end %>
		<% end %>

	<% elsif @found_user.match == nil && @found_user.name != @current_user.name %>

         <div class="col-md-6">

			<h3 class="white text-left">

			<% if @found_user.picture %>
			<%= image_tag("#{@found_user.picture}", id:"profile-img-admin", class:"img-rounded") %>
			<% end %>

			<%= @found_user.name%> / <%= link_to "Match", match_path(@found_user.id), method: :post %></h3>

	    </div>

    <% else %>

	<h3 class="white text-center font_md">This User already has a Match, Sorry!</h3>

	<% end %>


</div>



<!-- search box for Users to look for a specific name -->
<div class="text-center search-box">

<div class="form-group">
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:name, "Search by Name:", class:"control-label font_md") %>
  <%= text_field_tag(:name, "", class:"form-control") %>
  </div>
  <%= submit_tag("Search", class:"btn btn-block btn-primary") %>
<% end %>

<br>

<!-- resets the page -->
<%= link_to "See All Users", users_path, class:"btn btn-block btn-info" %>

</div>



<!-- help copy -->
<p class="help-block font_md notes_below text-center"><strong>Help:</strong> Matches are listed by Name so you need to know your Matches Account Name (case sensitive) in order to find them. If you do not see your Matches name listed then that means they do not have an account and need to Sign Up!</p>