
<div class="container">
	
<div class="row margin_top">
  
<!-- Column One -->

<div class="col-md-6">

<% if current_user.picture == "" %>

     <div class="text-center"><%= link_to "Add a Picture!", edit_user_path(current_user), class:"font_lg white" %></div>

<!-- Removed show user photo logic -->

<% end %>


<h1 class="text-center font_lg">Your Score: <strong><%= current_user.score %></strong></h1>

<h1 class="text-center font_lg">Coupons:</h1>

</div>



<!-- Column Two -->

<div class="col-md-6">

<h1 class="text-center font_lg"><%= current_user.name %></h1>

<!-- Logic checking if the user entered a valid email -->

<% if current_user.email === "Please add email!" %>

<div class="text-center"><%= link_to "Please add email!", edit_user_path(@current_user), class:"font_lg" %></div>

<% else %>
<h1 class="text-center font_lg"><%= current_user.email %></h1>
<% end %>


<!-- Logic for Showing Match Status -->

<% if current_user.match != nil %>

<!-- Has Match Logic -->

<h1 class="text-center font_lg">Match: <%= current_user.match %></h1>

<p class="text-center font_lg"><%= link_to "Give a Kudo", new_kudo_path %></p>


<!-- End has Match Logic -->




<% elsif current_user.match_pending or current_user.match_request %>

<h1 class="text-center font_lg">Match: Request Pending!</h1>

<% else %>

<h1 class="text-center font_lg">Match: <%= link_to "Find One!", users_path %></h1>

<% end %>



</div>

</div>

<!-- Row Two -->

<div class="row">

<div class="col-md-6">
<br>
<!-- Match Details -->
<% if current_user.match %>
<div class="match-details-box">
	
<h1 class="white text-center font_lg"><u>Me and <%= @match_user.name%></u></h1>

<h3 class="white text-center">Email: <%= @match_user.email%></h3>

<h3 class="white text-center">Score: <%= @match_user.score%></h3>

<h3 class="white text-center">Kudos: <%= @user.kudos.length %></h3>

<h3 class="white text-center">Coupons: <%= @match_user.coupons.length%></h3>

</div>

<% end %>

<!-- End Match Details -->

</div>





<div class="col-md-6">

<!-- Logic for accepting/declining match request -->

<% if current_user.match_request %>

<h1><%= image_tag("#{@match_user.picture}", id:"profile-img", class:"img-rounded img-responsive box_align") %> You have a pending match request from <span class="white"><%= @match_user.name%></span>

<br> 

<%= link_to "Accept", add_match_path(@current_user.id), method: :post %> / <%= link_to "Decline", no_match_path(@current_user.id), method: :delete %></h1>


<% end %>

<!-- end pending match request -->

 <% if @match_user %>

<div class="match-details-box">

<p class="white text-center font_md"><u>kudos you created:</u></p>	

<% @match_user.kudos.each do |kudo| %>
<% if kudo.creator_id.to_i == @user.id %>
<div class="kudo-box-created">
<% if kudo.date %>
<p><strong>Date:</strong> <%= kudo.date.strftime("%m/%d/%Y") %></p>
<% end %>
<p class="text-center font_sm"><%= kudo.description %></p>
<p class="text-center">Points: <strong><%= kudo.points %></strong> / <%= link_to "Delete", kudo_path(kudo), method: :delete %></p>

</div>
<% end %>
<% end %>

	</div>

<% end %>


</div>


</div>

<!-- Row Three -->
<br>
<div class="row">

<% if @recent_kudos%>

<p class="font_lg"><u>Kudos Received:</u></p>

<% @recent_kudos.each do |kudo|%>

<div class="col-md-6">
 <div class="kudo-box animated fadeInUpBig">
 	
<div class="kudo-box-points">
<p><strong><u>Points:</u></strong></p>
<h1 class="pad-md"><%= kudo.points %></h1>	
</div>
<% if kudo.date %>
<p><strong>Date:</strong> <%= kudo.date.strftime("%m/%d/%Y") %></p>
<% end %>
<p class="text-center font_md pad-md"><%= kudo.description %></p>




 </div>
</div>
<% end %>
<% end%>
</div>






<!--  -->

<% if current_user.is_admin %>

<h1></h1>

<div class="match-details-box">
	
<h1 class="white text-center font_lg"><u>Admin: (all users)</u></h1>

<% @all_users.each do |user|%>

<h3 class="white text-center"><%= user.name %> / <%= link_to "Delete", user_path(user.id), method: :delete %></h3>

<% end %>


</div>

<% end %>


<!-- End Container -->

</div>


