<div class="container">
	
<div class="row margin_top">
  
<!-- Column One -->

<% if current_user.picture == "" %>

     <div class="col-md-6"><%= link_to "Add a Picture!", edit_user_path(current_user), class:"text-center font_lg white" %></div>

<% else %>

      <div class="col-md-6"><%= image_tag("#{current_user.picture}", id:"profile-img", class:"img-rounded img-responsive") %></div>

<% end %>

<!-- Column Two -->

<div class="col-md-6">

<h1 class="text-center font_lg"><%= current_user.name %></h1>

<h1 class="text-center font_lg"><%= current_user.email %></h1>



<!-- Logic for Showing Match Status -->

<% if current_user.match != nil %>





<!-- Has Match Logic -->

<h1 class="text-center font_lg">Match: <%= current_user.match %></h1>

<p class="text-center font_lg"><%= link_to "Give a Kudo", new_user_kudo_path(@current_user) %></p>

<!-- End has Match Logic -->




<% elsif current_user.match_pending or current_user.match_request %>

<h1 class="text-center font_lg">Match: Request Pending!</h1>

<% else %>

<h1 class="text-center font_lg">Match: <%= link_to "Find One!", users_path %></h1>

<% end %>


<h1 class="text-center font_lg">Coupons:</h1>

</div>

</div>

<!-- Row Two -->

<div class="row">

<div class="col-md-6">
<br>
<!-- Match Details -->
<% if current_user.match %>
<div class="match-details-box">
	
<h1 class="white text-center font_lg"><u>Me and <%= @match_user.name%></u></h1>

<h3 class="white text-center">Email: <%= @match_user.email%></h3>

<h3 class="white text-center">Score: <%= @match_user.score%></h3>

<h3 class="white text-center">Kudos: </h3>
<% @match_user.kudos.each do |kudo| %>

<div class="kudo-box">
<p class="text-center font_sm"><%= kudo.description %></p>
<p class="text-center">Points: <strong><%= kudo.points %></strong></p>

</div>

<% end %>


<h3 class="white text-center">Coupons: <%= @match_user.coupons%></h3>


</div>

<% end %>

<!-- End Match Details -->

</div>





<div class="col-md-6">

<!-- Logic for accepting/declining match request -->

<% if current_user.match_request %>

<h1>You have a pending match request from <span class="white"><%= @match_user.name%></span> <%= link_to "Accept", add_match_path(@current_user.id), method: :post %> / <%= link_to "Decline", no_match_path(@current_user.id), method: :delete %></h1>
<%= image_tag("#{@match_user.picture}", id:"profile-img", class:"img-rounded img-responsive box_align") %>

<% end %>




</div>


</div>

<!-- Row Three -->

<div class="row">


<div class="col-md-6">
 
 <% if @user.kudos %>

<div class="match-details-box">

<p class="white text-center font_md"><u>kudos you created:</u></p>	

<% @user.kudos.each do |kudo| %>
<div class="kudo-box">
<p class="text-center font_sm"><%= kudo.description %></p>
<p class="text-center">Points: <strong><%= kudo.points %></strong></p>

</div>
<% end %>

	</div>

<% end %>

</div>

<div class="col-md-6">






</div>


</div>








<!--  -->

<% if current_user.is_admin %>

<h1></h1>

<div class="match-details-box">
	
<h1 class="white text-center font_lg"><u>Is an Admin: (all users)</u></h1>

<% @all_users.each do |user|%>

<h3 class="white text-center"><%= user.name %> / <%= link_to "Delete", user_path(user.id), method: :delete %></h3>

<% end %>


</div>

<% end %>



<!-- End Container -->

</div>


