<div class="container coupon_form margin_top">

<%= render partial: "shared/errors", locals:{instance: @coupon} %>

  <%= form_for @coupon, url: coupons_path do |f| %>
       
        <div class="form-group">
          <%= f.label :description, class:"control-label" %>
          <%= f.text_area :description, size: "24x4", class:"form-control" %>
        </div>
        <div class="form-inline">
        <div class="form-group">
          <%= f.label :price, class:"control-label" %>
          <%= f.number_field :price, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :design_id, class:"control-label" %>
          <%= f.select :design_id, [["One", 1], ["Two", 2], ["Three", 3], ["Four", 4]], class:"form-control" %>
        </div>
        </div>
        <br>
        <%= f.submit "Create", id:"submit-user", class:"btn btn-block btn-success text-center" %>
      <% end %>

</div>

<!-- End of Create Coupon Form -->

<br>

<!-- Coupon Options -->

<div class="container">

<h1>Coupon Design Options</h1>


<div class="row">

<div class="col-md-6">

<h3>Design 1:</h3>

<div id="coupon" class="design_1 img-rounded">
	
	<p class="coup-head font_resp">PRICE: <strong>5 POINTS</strong></p>

	<p class="coup-text">Voluptate non leberkas, rump frankfurter turkey ham. Kevin tempor jerky, pastrami kielbasa porchetta commodo in capicola ea doner.</p>


</div>


</div>

<div class="col-md-6">

<h3>Design 2:</h3>

<div id="coupon" class="design_2 img-rounded">
	
	<p class="coup-head font_resp">PRICE: <strong>5 POINTS</strong></p>

	<p class="coup-text">Voluptate non leberkas, rump frankfurter turkey ham. Kevin tempor jerky, pastrami kielbasa porchetta commodo in capicola ea doner.</p>


</div>

</div>

</div> <!-- end row one -->

<br>

<div class="row">

<div class="col-md-6">

<h3>Design 3:</h3>

<div id="coupon" class="design_3 img-rounded">
  
  <p class="coup-head font_resp">PRICE: <strong>5 POINTS</strong></p>

  <p class="coup-text">Voluptate non leberkas, rump frankfurter turkey ham. Kevin tempor jerky, pastrami kielbasa porchetta commodo in capicola ea doner.</p>

</div>

</div>

<div class="col-md-6">

<h3>Design 4:</h3>

<div id="coupon" class="design_4 img-rounded">
  
  <p class="coup-head font_resp">PRICE: <strong>5 POINTS</strong></p>

  <p class="coup-text">Voluptate non leberkas, rump frankfurter turkey ham. Kevin tempor jerky, pastrami kielbasa porchetta commodo in capicola ea doner.</p>


</div>


</div>
</div> <!-- end row two -->




</div>