<!DOCTYPE html>
<html>
<head>
  <title>Me&You</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= render partial: 'shared/theme_header' %>

<!-- Brings in Uploadcare Functionality -->

<%= uploadcare_settings %>


</head>
<body class="<%= @landing_page ? 'flower' : ''%>">


<!-- Custom Navbar -->

 <nav id="mainNav" class="navcolor navbar navbar-default navbar-fixed-top">

<!-- navbar-fixed-top : affects spcaing but makes it fill the space -->

    <div class="container-fluid">
      <div class="navbar-header">


      <!-- navbar-nav : lowers drop down menu -->

<ul class="nav">
    <li class="dropdown">


         <a class="navbar-brand" href="#">
        <%= image_tag("me&you_squarelogo.png", :alt => "Me & You", class:"nav-logo") %>
      </a>
       

     <% if @current_user %>

       <ul class="dropdown-menu">       

            <li><%= link_to "My Page", user_path(@current_user) %></li>
            <li><%= link_to "Edit My Account", edit_user_path(@current_user) %></li>
            <li><%= link_to "Our Page", kudos_path %></li>
            <li><%= link_to "Give A Kudo", new_kudo_path %></li>
            <li><%= link_to "Add Coupon", new_coupon_path %></li>
            <li><%= link_to "See My Coupons", coupons_path %></li>
            <li><%= link_to "Log Out", logout_path, {method: :delete}%></li>

        </ul>

      <% end %> 
      
    </li>
</ul>


      </div>

      <!-- removed "collapse" from below to work on mobile responsive layout -->

      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">

<!-- snip 2 -->

        <ul class="nav navbar-nav navbar-right">
          <% if @current_user %>
             
               <% if @current_user.picture != ""%>
             
               <li class="navbar-text"><%= image_tag("#{current_user.picture}", class:"img-rounded avatar") %></li>

                <% end %>

           <!-- snip 1 -->

          <% else %>
            <li><%= link_to "Login Please", login_path, {:style => 'color: white'} %> </li>

           <!-- FB Login Button -->
           
            <li><%= link_to (image_tag"facebook-login-button-002.png", class:"fb-button"), "/auth/facebook", id: "sign_in", :style => 'color: white' %></li>

          <% end %>
        </ul>
      </div>
    </div>
  </nav>

<!--   End Navbar -->

<!--   Flash Message did go here -->

<!-- Page Content -->

<%= yield %>


<!-- End Page Content -->

  <%= render partial: 'shared/footer' %>

  <%= render partial: 'shared/end_javascript' %>

</body>
</html>
